# Ignore useless files and folders.

/Build/

/vs2015-android/ARM/
/vs2015-android/ARM64/
/vs2015-android/x86/
/vs2015-android/x64/

/vs2015-windows/Debug/
/vs2015-windows/Release/
/vs2015-windows/x64/

/xcode6-ios/DerivedData/
/xcode6-mac/DerivedData/

.DS_STORE
.vs
*.sdf
*.opensdf
*.opendb
